* {
  background-image: url(Imagens/Vivo_Template.png);
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  color: rgb(61, 5, 61);
  font-weight: bold;
  font-size: 110%;
}

hr {
  height: 1px;
  margin: 50px 0;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  border: 0;
}
hr:after {
  display: block;
  content: '';
  height: 30px;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}


#titulo {
  color: purple;
  font-size: 60px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: left;
  margin-left: -10px;
}
#vivinho {
  margin-left: 18%;
  display: flex;
  float: left;
  width: 80px;
  height: 110px;
  padding-right: 20px;
}

.indice {
  font-size: 125%;
  text-align: left;
  margin-left: 43%;
}

h1 {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  font-weight: bolder;
  color: orange;
  font-size: 110%;
  position: absolute;
}

li {
  padding: 1px;
}

ul {
  margin: 10px;
}

ul li {
  margin-bottom: 5px;
}

.sublista {
  font-size: 82%;
}

.siglas {
  font-size: 85%;
  font-weight: normal;
  padding: 8px 50px 10px 15px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.explicacao {
  margin: 10px;
  padding: 10px;
}

.nota_detalhe {
  font-size: 12px;
}

.lista {
  padding: 8px 30px 5px 8px;
}

.box {
  text-decoration: none;
  list-style: none;
  border-color: white;
  border-style: solid;
  width: fit-content;
  padding: 5px 5px 5px 5px;
  text-align: center;
  border-radius: 5px;
}

.link_url:hover {
  color: yellow;
  position: relative;
}

/* barra de pesquisa 
.btn_pesquisar {
  border-radius: 8px;
}*/

/*footer*/
.index a:hover {
  position: static;
}

.rodape {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 13px;
  text-align: center;
}

/* B2B */
.img_tutorial {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.img_tutorial:hover {
  width:100%;
}

.Simg_tutorial{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.Simg_tutorial:hover {
  width:80%;
}

#passo4B2B{
  display:flexbox;
  margin-left: 30px;
  margin-right: 40px;
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#passo4B2B:hover {
  width:80%;
}

#passo41B2B{
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


/* Mapeamentos */

table, td, th {
  border: 1px solid aliceblue;
 border-collapse: collapse;
 padding: 5px;
 text-align: center;
 font-size: 95%;
}





